footer{
    margin: 40px 0 80px;
    .container {
        background: rgb(233, 233, 233);
        width: 85%;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        @media screen and (max-width: 670px){
            display: block;
        }
        @media screen and (max-width: 650px){
            width: 90%;
        }
        &::before{
            position: absolute;
            content: "";
            background: rgb(105,105,105, 0.1);
            width: 1px;
            height: 100%;   
            left: 50%;
            @media screen and (max-width: 670px){
                display: none;
            }
        }
        
        .footer-left{
            padding: 50px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
                form{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;

                    label{
                        text-transform: uppercase;
                        font-family: Inter, cursive;
                        font-weight: 700;
                        font-size: 0.8rem;
                        color: rgb(105,105,105);
                        letter-spacing: 2px;
                    }
                    input[type="text"]{
                        background: none;
                        outline: none;
                        width: 100%;
                        padding: 15px 10px;
                        border: 1px solid rgba(105, 105, 105, 0.3);
                        border-radius: 4px;
                        font-family: Merryweather, sans-serif;

                        &:focus{
                            box-shadow: 0 0 4px rgb(105,105,105, 0.3)
                        }
                    }
                    textarea {
                        background: none;
                        outline: none;
                        height: 200px;
                        resize: none;
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(105, 105, 105, 0.3);
                        border-radius: 4px;
                        font-family: Merryweather, sans-serif;

                        &:focus{
                        box-shadow: 0 0 4px rgb(105,105,105, 0.3);   
                        }
                    }
                    button[type="submit"]{
                        background: none;
                        color: rgb(105,105,105);
                        border: 2px solid rgb(105,105,105);
                        padding: 10px 25px;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        font-weight: bold;
                        cursor: pointer;
                        letter-spacing: 1px;
                        transition: 0.3s;

                        &:hover{
                            background: $white;
                            box-shadow: 0 0 4px rgb(105,105,105, 0.3); 
                        }
                    }
                }
            
        }
        .footer-right{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 25%);
            @media screen and (max-width: 670px){
                grid-template-rows: repeat(4, 100px);
            }

            .box-container{
                // width: 100%;
                // padding: 0 30px;
                // display: flex;
                // align-items: center;
                // justify-content: flex-start;
                // gap: 70px;

                width: 100%;
                display: grid;
                grid-template-columns: 20% 60%;
                justify-content: space-around;
                align-items: center;
                position: relative;

                @media screen and (max-width: 670px){
                    &:nth-child(1)::before{
                        content: "";
                        position: absolute;
                        background: rgb(105,105,105, 0.3);
                        width: 100%;
                        height: 1px;
                        top: 0;
                    }
                }
                @media screen and (max-width: 400px){
                    grid-template-columns: 30% 70%;
                    padding: 0 5px;
                }

                &:nth-child(1)::after, 
                &:nth-child(2)::after, 
                &:nth-child(3)::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background: rgb(105,105,105, 0.3);
                    width: 100%;
                    
                }



                h6{
                    text-transform: uppercase;
                    font-family: Inter, cursive;
                    font-weight: 700;
                    font-size: 0.8rem;
                    color: rgb(105,105,105);
                    letter-spacing: 1px;
                    width: 60px;
                }

                .text-container{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: flex-start;

                    p{
                        color: rgb(105,105,105, 0.7);
                        font-size: 0.85rem;
                        line-height: 20px;
                    }
                }
                .social-icon{
                    width: 100%;
                    ul{
                        display: flex;
                        gap: 5%;
                        justify-content: flex-start;
                        width: 100%;

                        a{
                            color: $black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                            border: 1px solid rgb(105,105,105, 0.3);
                            border-radius: 50%;
                            width: 36px;
                            transition: 0.3s;

                            &:hover{
                                color: $white;
                                background: $black;
                            }
                        }
                    }

                }
            }
        }
    }
}