header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .container{
        max-width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: 650px){
            max-width: 95%;
        }
        h1{
            text-transform: uppercase;
            font-size: 4.5rem;
            letter-spacing: 10px;
            color: $white;
            @media screen and (max-width: 650px){
                font-size: 2.3rem;
                letter-spacing: 7px;
            }
        }
        p{
            font-style: italic;
            color: $white;
            @media screen and (max-width: 650px){
                line-height: 20px;
            }
        }
        a {
            color: $white;
            font-size: 1.1rem;
        }
        > a{ 
            i{
               border: 3px solid $white;
               padding: 20px;
               border-radius: 100%;
               transform: translateY(0px);
               transition: transform 0.5s ease-in-out;

               &:hover{
                color: $black;
                border: 3px solid $black;
                transform: translateY(30px);
            
               }
           }
        }
        nav {
            height: 80px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background: rgba(255, 255, 255, 0.250);
            
            
            display: flex;
            width: 85%;
            justify-content: space-between;
            @media screen and (max-width: 650px){
                width: 90%;
            }

            .navbar-left {
                display: flex;
                align-items: center;
                @media screen and (max-width: 650px){
                   width: 100%;
                }
                
                ul {
                    color: $white;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    @media screen and (max-width: 650px){
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                    }
                    
                    

                    &:hover >:first-child{
                        background: transparent;
                        color: $white;
                    }


                    li {
                        padding: 0 15px;
                        letter-spacing: 2px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.2s;
                        @media screen and (max-width: 650px){
                            padding: 0 5px;
                            font-size: 0.7rem;
                            letter-spacing: 1px;
                        }

                        &:first-child{
                            background: $white;
                            color: $black;
                            &:hover{
                                background: $white;
                                color: $black;
                            }
                        }
                        &:hover{
                            background: $white;
                            color: $black;
                        }

                    }
    
                }
                
            }
            .navbar-right{
                width: 30%;
                display: flex;
                align-items: center;
                @media screen and (max-width: 650px){
                    display: none;
                }
                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;

                    a {
                        transition: 0.3s;
                        &:hover{
                            color: $black;        
                        }
                    }
                }
            }
        }
    }

}