@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Merryweather";
  src: url(../fonts/Merriweather-Light.ttf);
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* p {
  line-height: 40px;
  font-family: Merryweather, sans-serif;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  font-family: Inter, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  letter-spacing: 1px;
  padding: 10px 25px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 180px;
  margin: 0 auto;
}
.btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 650px) {
  .btn {
    width: 80%;
    min-width: 160px;
    max-width: 260px;
  }
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
header .container {
  max-width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 650px) {
  header .container {
    max-width: 95%;
  }
}
header .container h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 10px;
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 650px) {
  header .container h1 {
    font-size: 2.3rem;
    letter-spacing: 7px;
  }
}
header .container p {
  font-style: italic;
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 650px) {
  header .container p {
    line-height: 20px;
  }
}
header .container a {
  color: rgb(243, 243, 243);
  font-size: 1.1rem;
}
header .container > a i {
  border: 3px solid rgb(243, 243, 243);
  padding: 20px;
  border-radius: 100%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
header .container > a i:hover {
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
header .container nav {
  height: 80px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 650px) {
  header .container nav {
    width: 90%;
  }
}
header .container nav .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 650px) {
  header .container nav .navbar-left {
    width: 100%;
  }
}
header .container nav .navbar-left ul {
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
@media screen and (max-width: 650px) {
  header .container nav .navbar-left ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
header .container nav .navbar-left ul:hover > :first-child {
  background: transparent;
  color: rgb(243, 243, 243);
}
header .container nav .navbar-left ul li {
  padding: 0 15px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 650px) {
  header .container nav .navbar-left ul li {
    padding: 0 5px;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
}
header .container nav .navbar-left ul li:first-child {
  background: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}
header .container nav .navbar-left ul li:first-child:hover {
  background: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}
header .container nav .navbar-left ul li:hover {
  background: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}
header .container nav .navbar-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 650px) {
  header .container nav .navbar-right {
    display: none;
  }
}
header .container nav .navbar-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .container nav .navbar-right ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container nav .navbar-right ul a:hover {
  color: rgb(0, 0, 0);
}

main .container {
  background: rgb(250, 250, 250);
  width: 85%;
}
@media screen and (max-width: 650px) {
  main .container {
    width: 90%;
  }
}
main .container .main-news {
  padding: 75px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 650px) {
  main .container .main-news {
    padding: 60px 30px;
  }
}
main .container .main-news::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  bottom: 0;
  width: 100%;
}
main .container .main-news p {
  font-style: italic;
}
main .container .news {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  gap: 40px;
}
@media screen and (max-width: 650px) {
  main .container .news {
    width: 95%;
  }
}
main .container .news h3 {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Merryweather, sans-serif;
}
main .container .news h3::before {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  left: 5%;
  top: 85px;
  width: 30%;
}
@media screen and (max-width: 650px) {
  main .container .news h3::before {
    left: 5%;
    width: 25%;
    top: 70px;
  }
}
@media screen and (max-width: 400px) {
  main .container .news h3::before {
    left: 9%;
    width: 15%;
  }
}
main .container .news h3::after {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  right: 5%;
  top: 85px;
  width: 30%;
}
@media screen and (max-width: 650px) {
  main .container .news h3::after {
    right: 5%;
    width: 25%;
    top: 70px;
  }
}
@media screen and (max-width: 400px) {
  main .container .news h3::after {
    right: 9%;
    width: 15%;
  }
}
main .container .news h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
}
@media screen and (max-width: 650px) {
  main .container .news h2 {
    font-size: 1.7rem;
  }
}
main .container .news p {
  font-size: 0.9rem;
}
@media screen and (max-width: 650px) {
  main .container .news p {
    font-size: 0.85rem;
  }
}
main .container .news h5 {
  font-family: Merryweather, sans-serif;
  font-weight: 400;
}
main .container .news h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 30px;
}
main .container .news .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container .news .img-container img {
  width: 100%;
}
main .container .other-news {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 0;
  position: relative;
}
@media screen and (max-width: 650px) {
  main .container .other-news {
    display: block;
    padding: 0 30px;
  }
  main .container .other-news .news {
    padding: 60px 0;
  }
}
main .container .other-news::after {
  position: absolute;
  left: 50%;
  content: "";
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
}
@media screen and (max-width: 650px) {
  main .container .other-news::after {
    left: 0;
    height: 1px;
    width: 100%;
    top: 50%;
    background: rgba(0, 0, 0, 0.1);
  }
}

footer {
  margin: 40px 0 80px;
}
footer .container {
  background: rgb(233, 233, 233);
  width: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
@media screen and (max-width: 670px) {
  footer .container {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  footer .container {
    width: 90%;
  }
}
footer .container::before {
  position: absolute;
  content: "";
  background: rgba(105, 105, 105, 0.1);
  width: 1px;
  height: 100%;
  left: 50%;
}
@media screen and (max-width: 670px) {
  footer .container::before {
    display: none;
  }
}
footer .container .footer-left {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}
footer .container .footer-left form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .container .footer-left form label {
  text-transform: uppercase;
  font-family: Inter, cursive;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(105, 105, 105);
  letter-spacing: 2px;
}
footer .container .footer-left form input[type=text] {
  background: none;
  outline: none;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid rgba(105, 105, 105, 0.3);
  border-radius: 4px;
  font-family: Merryweather, sans-serif;
}
footer .container .footer-left form input[type=text]:focus {
  -webkit-box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
          box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
}
footer .container .footer-left form textarea {
  background: none;
  outline: none;
  height: 200px;
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.3);
  border-radius: 4px;
  font-family: Merryweather, sans-serif;
}
footer .container .footer-left form textarea:focus {
  -webkit-box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
          box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
}
footer .container .footer-left form button[type=submit] {
  background: none;
  color: rgb(105, 105, 105);
  border: 2px solid rgb(105, 105, 105);
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .container .footer-left form button[type=submit]:hover {
  background: rgb(243, 243, 243);
  -webkit-box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
          box-shadow: 0 0 4px rgba(105, 105, 105, 0.3);
}
footer .container .footer-right {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
}
@media screen and (max-width: 670px) {
  footer .container .footer-right {
    grid-template-rows: repeat(4, 100px);
  }
}
footer .container .footer-right .box-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 670px) {
  footer .container .footer-right .box-container:nth-child(1)::before {
    content: "";
    position: absolute;
    background: rgba(105, 105, 105, 0.3);
    width: 100%;
    height: 1px;
    top: 0;
  }
}
@media screen and (max-width: 400px) {
  footer .container .footer-right .box-container {
    grid-template-columns: 30% 70%;
    padding: 0 5px;
  }
}
footer .container .footer-right .box-container:nth-child(1)::after, footer .container .footer-right .box-container:nth-child(2)::after, footer .container .footer-right .box-container:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: rgba(105, 105, 105, 0.3);
  width: 100%;
}
footer .container .footer-right .box-container h6 {
  text-transform: uppercase;
  font-family: Inter, cursive;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(105, 105, 105);
  letter-spacing: 1px;
  width: 60px;
}
footer .container .footer-right .box-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .container .footer-right .box-container .text-container p {
  color: rgba(105, 105, 105, 0.7);
  font-size: 0.85rem;
  line-height: 20px;
}
footer .container .footer-right .box-container .social-icon {
  width: 100%;
}
footer .container .footer-right .box-container .social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
footer .container .footer-right .box-container .social-icon ul a {
  color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.3);
  border-radius: 50%;
  width: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .container .footer-right .box-container .social-icon ul a:hover {
  color: rgb(243, 243, 243);
  background: rgb(0, 0, 0);
}/*# sourceMappingURL=index.css.map */